/* código omitido */

body {
    background-color: #c48600;
    color: rgb(179, 167, 6);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #05ad45;
    color: rgb(0, 136, 226);
    font-family: "Bai Jamjuree", sans-serif;
}